<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Nanum+Pen+Script|Shadows+Into+Light" rel="stylesheet">
  <title>YoungHun's self_introduction</title>
  </head>

<body>
  
  <div class="wrapper">
      <ul class="nav nav-tabs nav-fill">
  <li class="nav-item">
    <a class="nav-link" href="/home/landing_page">ABOUT ME</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/home/hobby">HOBBY</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/home/photography">PHOTOGRAPHY</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/home/contact">CONTACT</a>
  </li>
</ul>

 <div class = "owimg">
    <%= image_tag("overwatch2.png", :alt => "Overwatchlogo", :id=>"overwatch") %>
  </div>
  
   
   <div class ="hobby_paragraph1">
     <p >  
    <h1><strong>*갓겜 오버워치*</strong></h1>
     <strong>저는 오버워치를 오픈베타때부터 해온 오버워치 폐인입니다. 오버워치 안에서는
     나름 1%안에 드는 그랜드 마스터라는 계급에 서식하고 있지요. ㅎㅎ 
     하지만 요즘은 멋사 때문에 
     오버워치를 도통 하지를 못하겠네요 ㅠㅠ  어서 이 험난한 시기가 지나고 나서 
     편안하게 오버워치를 하고 싶습니다!!</strong>
  </p>
  </div>
  
  <div class = "healthimg">
     <%= image_tag("health.png", :alt => "weight training", :id=>"health") %>
  </div>
   
   <div class ="hobby_paragraph2">
     <p><h1><strong>*헬        스*</strong></h1></p>
     <strong>저는 헬스를 21살때부터 오랫동안 해온 헬스 중독자 입니다. 헬스를 하는 주된 이유는 
     제가 금방 살이 찌는 체질이라
     꾸준히 헬스를 안하면 안됩니당 ㅎㅎ 하지만 요즘은 멋사 때문에 헬스장에 도통 가지를 못하겠네요 ㅠㅠ
     어서 이 험난한 시기가 지나고 나서 마음 놓고 헬스를 하고 싶습니다!!
     </strong>
   </div>
   
   <div class= "movieimg">
     <%= image_tag("movie.png", :alt => "movie", :id=>"movie") %>
   </div>
   
   <div class ="hobby_paragraph3">
     <p><h1><strong>*영화 감상*</strong></h1>
     <strong>저는 태어나서 지금까지 영화를 900편 이상을 본 영화광입니다. 4월 말에도 제가 아주 기대중인
     영화 인피니티워가 개봉을 기다리고 있죠 ㅎㅎ 하지만 요즘은 멋사 때문에 영화를 도통 보지를 못하겠네요 ㅠㅠ
     어서 이 험난한 시기가 지나고 나서 프리하게 영화를 보고 싶습니다!!
     </strong>
       
     </p>
    </div>
   
   
   
 </div>
 
 

 
    
    
    
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
