<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Nanum+Pen+Script|Shadows+Into+Light" rel="stylesheet">
  <title>YoungHun's self_introduction</title>
  </head>

<body>
  
 <div class ="wrapper">
 
  <ul class="nav nav-tabs nav-fill">
    <li class="nav-item ">
      <a class="nav-link" href="/home/landing_page">ABOUT ME</a>
    </li>
    <li class="nav-item ">
      <a class="nav-link" href="/home/hobby">HOBBY</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/home/photography">PHOTOGRAPHY</a>
    </li>
    <li class="nav-item ">
      <a class="nav-link" href="/home/contact">CONTACT</a>
    </li>
  </ul>

<div class="paragraph1"> 
      <p class="p1">
        HERE'S<br> SOME STUFF <br>ABOUT ME
  </p> 
</div>

<div class="paragraph2">
  <p>
    <h1 class>*Profile*</h2><br>
    이름 : 김용훈<br>
    나이 : 비밀<br>
    학교 : 경희대학교<br>
    학과 : 경영학과<br>
    학번 : 화석을 넘어선 무언가<br>
  </p>
</div>

<div class="paragraph3">
  <p>
    <h1 class=>*인삿말*</h2><br>
    내 사이트에 당도한 것을 환영하오, 낯선이여.
    언제나 그렇듯 코딩을 하는 것은 고통이 수반되는 작업인거 같소.
    다른 경희대 멋사들은 어떻게 잘들 하고 있는지 
    넘나 궁금한 것! 마지막으로 이 사이트를 제작하기까지 
    아낌없이 도와준 우리 경희대 멋사 운영진들에게 이 영광을 돌리겠습니다!!
    경희대 멋사 아자아자 화이팅!!
  </p>
</div>

</div>
     
        <%= image_tag("kyh.jpg", :alt => "YoungHun", :id=>"YoungHun") %>
 
    
    
 
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
